@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Cormorant+Garamond:wght@400;700&display=swap');

$primaryColor: #0d6efd;
$pointAttentionColor: #ffc107;
$standartColor: black;
$primaryFont: 'Cormorant Garamond', serif;
$standartFont: 'Arimo', sans-serif;
$standartFontSize: 16px;
$headingFontSize: 40px;
$container: 1200px;